@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота №1</h1>
    <h1 class="display-4">Хмарні обчислення</h1>
    <h3>Керимов І. Е.</h3>
    <h3>Печерський Н. С.</h3>
    <h3>група 8.04.122.010.24.3</h3>
</div>
